
<template>
  <div>
    <currency-switcher></currency-switcher>
    <div class="row">
      <div class="col-md-12 mt-5">
      </div>
    </div>
    <form-list></form-list>
    <div class="row">

      <div class="col-md-12 py-4">
        <list></list>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import FormList from './FormList';
import List from './List';
import CurrencySwitcher from './CurrencySwitcher';

  export default {
    components: {
      FormList,
      CurrencySwitcher,
      List,
    },
    data: function() {
      return {
        name: 'Hello World!',
      }
    },
  };
</script>


