
<template>
  <div class="btn-group" role="group" aria-label="Basic example">
    <button @click="this.$store.commit('changeCurrency', 'USD')"
            class="btn btn-success">USD</button>
    <button @click="this.$store.commit('changeCurrency', 'EUR')"  class="btn btn-primary">EUR</button>
    <button @click="this.$store.commit('changeCurrency', 'UAH')"  class="btn btn-warning">UAH</button>
  </div>
</template>



