
<template>
  <div class="row">
    <div class="col-sm-6" v-for="item in this.store.state.items">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">{{ item.comment }} {{ item.amount }}</h5>
          <button type="button" class="btn btn-danger" @click="deleteItem(item)">Delete</button>
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
  export default {
    name: 'list',
    data(){
      return {
        //спросить почему не изменяеться
        //items: this.store.getters['getItems']
      }
    },
    methods:{
      deleteItem(item) {
        this.store.dispatch('deleteItem', item);
      }
    },
  }
</script>



